@tailwind base;
@tailwind components;
@tailwind utilities;

body, a {
  color: var(--color4);
  color: #444;
}

p {
  margin-bottom: 1rem;
  line-height: 1.5;
}

code {
  background: #f8f8f8;
  font-size: 0.8rem;
}